.header {
  background: linear-gradient(to right, #51247a, #52247a, #92298a);
  display: flex;
  color: white;
  flex: 1;
  width: 100%;
}

.mainHeader {
  margin-left: 25px;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.mainButton {
    font-weight: bold;
  margin-right: 10px;
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
}

.siteLink {
  text-decoration: none;
  margin: auto;
  color: white;
  font-size: 1rem;
  margin-right: 35px;
}
