.header {
  background: linear-gradient(to right, #44619e, #44619e, #92298a);
  display: flex;
  color: white;
  width: 100%;
}

.mainHeader {
  margin-left: 25px;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.mainButton {
  font-weight: bold;
  margin-right: 10px;
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
}

.mainHeaderContainer {
  padding-right: 1.5rem;
}

.mainHeaderContainer:hover,
.mainButton:hover {
  background-color: #92298a;
  cursor: pointer;
}

.siteLink {
  text-decoration: none;
  margin: auto;
  color: white;
  font-size: 1rem;
  margin-right: 35px;
}

.siteLink:hover {
  text-decoration: underline;
}
