:root {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background: #FFA200;
  color: black; /* Optional: Changes the color of the text */
}

/* For mobile devices */
::-moz-selection {
  background: #FFA200;
  color: black; /* Optional: Changes the color of the text */
}