:root {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overscroll-behavior-y: none;

}

::selection {
  background: #ffa200;
  color: black; /* Optional: Changes the color of the text */
}

/* For mobile devices */
::-moz-selection {
  background: #ffa200;
  color: black; /* Optional: Changes the color of the text */
}

