.poster {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  margin-top: 2rem;
  background-color: rgb(238, 238, 238);
  position: relative;
}

.posterImage {
  width: 65%;
  object-fit: cover;
  object-position: top;
  height: 30rem;
  margin-left: auto;
  justify-content: center;
}

.posterHeading {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 5.5rem;
}

.posterHeading h1 {
  color: #44619e;
  font-size: 2rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.posterHeading p {
  font-size: 1.1rem;
}

.lineBreak {
  width: 20rem;
  color: #44619e;
  background: linear-gradient(to right, #44619e, #44619e, #92298a);
  height: 5px;
  border: none;
  border-radius: 1px;
}

.square {
  position: fixed;
  z-index: -1;
  left: 55rem;
  height: 92vh;
  width: 30rem;
  background: linear-gradient(to right, #44619e, #832887);
}
